<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header( title = 'Clientes')}"></head>
<body class="container mt-4">
<div th:replace="~{fragments/navbar.html :: navbar('productos')}"></div>
<h2 th:text="${producto.id == null ? 'Registro Producto' : 'Editar Producto'}">Registro Producto</h2>

<form th:action="@{/guardarProducto}" th:object="${producto}" method="post" class="mt-4">

    <input type="hidden" th:field="*{id}">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" th:field="*{nombre}"
               th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
    </div>

    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="number" class="form-control" th:field="*{precio}"
               th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
    </div>

    <div class="mb-3">
        <label class="form-label">Stock</label>
        <input type="number" class="form-control" th:field="*{stock}"
               th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary" th:text="${producto.id == null ? 'Registrar' : 'Guardar Cambios'}"></button>
        <a th:href="@{/productos}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
</body>
</html>